table.table-hover.table-light.table-resposive { border-collapse: collapse; border: 1px solid rgb(10 129 107);
    background: #f1f8ee; font: .9em/1.2em Georgia, "Times New Roman", Times, serif; color: #033; }
    table.table-hover.table-light.table-resposive { font-size: 1.3em; font-weight: bold; text-align: left; padding: 1em 4px; }
.table.table-hover.table-light.table-resposive td,
table.table-hover.table-light.table-resposive { padding: 3px 3px .75em 3px; line-height: 1.3em; }
.table.table-hover.table-light.table-resposive th { background: rgb(10 129 107); color: #fff; font-weight: bold; text-align: left; padding-right: .5em; vertical-align: top; }
table.table-hover.table-light.table-resposive thead th { background: #2C5755; text-align: center; }
table.table-hover.table-light.table-resposive .odd td { background: #DBE6DD; }
table.table-hover.table-light.table-resposive .odd th { background: #6E8D88; }
.table.table-hover.table-light.table-resposive td a,
table.table-hover.table-light.table-resposive td a:link { color: #325C91; }
.table.table-hover.table-light.table-resposive td a:visited { color: #466C8E; }
.table.table-hover.table-light.table-resposive td a:hover,
.table.table-hover.table-light.table-resposive td a:focus { color: #1E4C94; }
.table.table-hover.table-light.table-resposive th a,
.table.table-hover.table-light.table-resposive td a:active { color: #fff; }
.table.table-hover.table-light.table-resposive tfoot th,
.table.table-hover.table-light.table-resposive tfoot td { background: #2C5755; color: #fff; }
.table.table-hover.table-light.table-resposive th + td { padding-left: .5em; }